{% extends 'layout_base.html' %}

{% block head_title %}Login - ConquerBlocks{% endblock %}

{% block page_content %}
    <main>
      <h1>Inicia sesión</h1>
      <p>
        Es necesario iniciar sesión para acceder a la plataforma de la academia
        ConquerBlocks.
      </p>
      {% if error %}
        <p style="color: red;">{{ error_message }}</p>
      {% endif %}
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Iniciar sesión</button>
      </form>
    </main>
{% endblock %}