<ul>
    <li><a href="{% url 'core:home' %}">Home</a></li>
    <li><a href="{% url 'blog:blog_list' %}">Blog</a></li>
    <li><a href="{% url 'cursos:cursos_list' %}">Cursos</a></li>
    <li><a href="{% url 'core:about_us' %}">About us</a></li>
    <li><a href="{% url 'core:contact' %}">Contact us</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'core:logout' %}">Logout</a></li>
    {% endif %}
    {% if not user.is_authenticated %}
        <li><a href="{% url 'core:login' %}">Login</a></li>
        <li><a href="{% url 'core:register' %}">Register</a></li>
    {% endif %}
</ul>